@model CountryInfo

<div class="container">
    <div class="row pt-4 pb-2">
        <div class="col-6">
            <h2 class="text-primary">
                Country List
            </h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary" id="btnAdd">
                <i class="bi bi-plus-square"></i> Create New Data
            </button>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Country
                </th>
                <th>
                    City
                </th>
                <th>
                    Capital
                </th>
                <th>
                    Population
                </th>
                <th>
                    Action
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table_data"></tbody>
    </table>
</div>

<div class="modal" id="CountryModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="border p-3 mt-4">
                        <div class="row pb-2">
                            <h2 class="text-primary">Create</h2>
                            <hr />
                        </div>
                        @* <div hidden class="mb-3 row">
                            <label asp-for="Id" class="p-0"></label>
                            <input asp-for="Id" id="Country" class="form-control" placeholder="Country Name" />
                        </div> *@
                        <input asp-for="Id" id="Id" hidden />
                        <div class="mb-3 row">
                            <label asp-for="Country" class="p-0"></label>
                            <input asp-for="Country" id="Country" class="form-control" placeholder="Country Name" />
                            <span asp-validation-for="Country" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="City" class="p-0"></label>
                            <input asp-for="City" id="City" class="form-control" placeholder="City Name" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="Population" class="p-0">Population</label>
                            <input asp-for="Population" id="Population" class="form-control" placeholder="Population" />
                            <span asp-validation-for="Population" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label>Capital</label>
                            <select asp-for="CapitalCity" id="CapitalCity" class="form-control">
                                <option value="True">True</option>
                                <option value="False">False</option>
                            </select>
                            <span asp-validation-for="CapitalCity" class="text-danger"></span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="Save" type="submit" onclick="Create()">
                    Save
                </button>
                <button class="btn btn-success" id="Update" type="submit" onclick="Update()" style="display:none">
                    Update
                </button>
                <button class="btn btn-danger" data-bs-dismiss="modal" onclick="HideModal()">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

@* <a href="~/lib/jquery/dist/jquery.min.map">~/lib/jquery/dist/jquery.min.map</a> *@
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/custom.js"></script>
